# This file is for testing only

In [2]:
import urllib.request, json, os, sys, datetime
import pandas as pd

shop = 'legend'

In [19]:
# Build the car -> ID table

In [20]:
tab

            Manufacturer                             Model
id
3388                 AMG               300 SEL 6.8 AMG '71
2170                 AMG                      A 45 AMG '13
3531                 AMG                           GT3 '20
3458                 AMG           Mercedes-AMG C 63 S '15
3485                 AMG  Mercedes-AMG GT Black Series '20
...                  ...                               ...
1773          Volkswagen                    Scirocco R '10
1778          Volkswagen               Volkswagen 1200 '66
2192          Volkswagen         Volkswagen GTI VGT (Gr.3)
3423  Wicked Fabrication          Wicked Fabrication GT 51
2122              Zagato             IsoRivolta Zagato VGT

[495 rows x 2 columns]