# Update DB Script

Use this to update the pre-exisiting local db

It should only update the db if the timestamp is outdated

If it is outdated then
- Find out how many days we need to update
- i.e. compare local timestamp vs json timestamp

We now have a database for historic prices locally, we need to access json file to update (on the left) our database with new prices.

For cars not in database before, access Github to find car model and manufacturer...

We can use `data['updatetimestamp']` to check the last update time

In [54]:
import urllib.request, json, os, sys, datetime
import pandas as pd

## TO DO
# Replace 'legend' with a shop variable
# Update data format to INT64
# tmp_df['id'] = tmp_df['id'].astype(str) for else?
# Improve implementation of adding missing car information

test = True

date_format = '%y-%m-%d'

shop = 'legend'

url = urllib.request.urlopen("https://ddm999.github.io/gt7info/data.json")
new_data = json.load(url)

# Time stamp for latest data
timestamp_date = new_data['updatetimestamp'][2:10]

new_data = pd.DataFrame.from_dict(new_data[shop]['cars'])

# load db
master_db = pd.read_csv("./data/" + shop + "_historic.csv")
master_db['id'] = master_db['id'].map(str)
master_db.set_index('id', inplace=True)

In [58]:
cols = master_db.columns.tolist()
master_db[cols[3:-3]].astype('Int64')

,24-01-24,24-01-23,24-01-22,24-01-21,24-01-20,24-01-19,24-01-18,24-01-17,24-01-16,24-01-15,...,22-03-12,22-03-11,22-03-10,22-03-09,22-03-08,22-03-07,22-03-06,22-03-05,22-03-04,22-03-03
id,,,,,,,,,,,,,,,,,,,,,
3457,330000,330000,330000,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3514,49600,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
105,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1986,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3388,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1900,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,1600000,1600000,1600000,1600000,1600000,<NA>,<NA>,<NA>,<NA>,<NA>
3462,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
315,2500000,2500000,2500000,2500000,2500000,2500000,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1926,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1925,500000,500000,500000,500000,500000,500000,500000,500000,500000,<NA>,...,487000,487000,487000,487000,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>