In [1]:
import urllib.request, json, os, sys, datetime
import pandas as pd

In [ ]:
# Store the list of cars ID
# Separate these IDs into 3 tables (Central, Legend, Used)
# Get latest price, when it was last in shops, and estimate days
# Create a markdown?

In [22]:
# list of cars from the game
wish = [216,773,810,1565,1984,2167,3362]
wish = pd.DataFrame(wish).astype(str)

In [4]:
shops = pd.read_csv("./data/shop.csv")
shops['id'] = shops['id'].astype(str)
shops.set_index('id', inplace=True)

In [38]:
# Check if the cars are in the shops
wish_used = wish[wish.isin(shops[shops['used']].index)].dropna()
wish_legend = wish[wish.isin(shops[shops['legend']].index)].dropna()

In [33]:
# load legend db
if not(os.path.exists("./data/legend_historic.csv")):
    print("legend shop DB not found in the data folder.\nPlease run build.py to create a new DB.")
    # return 0

legend_db = pd.read_csv("./data/legend_historic.csv")
legend_db['id'] = legend_db['id'].astype(str)
legend_db.set_index('id', inplace=True)
cols = legend_db.columns.tolist()
legend_db[cols[3:-3]] = legend_db[cols[3:-3]].astype('Int64')

In [39]:
wish_legend

      0
0   216
3  1565
4  1984
6  3362

In [42]:
legend_db

,Country,Manufacturer,Model,24-02-20,24-02-19,24-02-18,24-02-17,24-02-16,24-02-15,24-02-14,...,22-03-09,22-03-08,22-03-07,22-03-06,22-03-05,22-03-04,22-03-03,Country Short,Maker,Country Code
id,,,,,,,,,,,,,,,,,,,,,
3457,France,Alpine,A220 Race Car '68,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,fr,86,6
3514,France,Citroen,DS 21 Pallas '70,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,fr,9,6
105,France,Peugeot,205 Turbo 16 Evolution 2 '86,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,fr,32,6
1986,France,Renault,R8 Gordini '66,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,fr,34,6
3388,Germany,AMG,300 SEL 6.8 AMG '71,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,de,153,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1900,United States,Plymouth,XNR Ghia Roadster '60,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,1600000,1600000,<NA>,<NA>,<NA>,<NA>,<NA>,us,55,3
3462,United States,Pontiac,GTO 'The Judge' '69,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,us,52,3
315,United States,Shelby,Cobra 427 '66,2500000,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,us,36,3
1926,United States,Shelby,Cobra Daytona Coupe '64,20000000,20000000,20000000,20000000,20000000,20000000,20000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,us,36,3
1925,United States,Shelby,G.T.350 '65,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,487000,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,us,36,3

In [31]:
# read db to see availability (for used and legendary)
## read local db and search
## if car unavailable, return last available date

0