In [1]:
import urllib.request, json, os, sys, datetime
import pandas as pd
import ipywidgets as widgets

In [ ]:
# Store the list of cars ID
# Separate these IDs into 3 tables (Central, Legend, Used)
# Get latest price, when it was last in shops, and estimate days
# Create a markdown?

In [30]:
# list of cars from the game
selected_list = [216,773,810,1565,1984,2167,3362]

      legend   used  central
id
24     False   True    False
31      True  False    False
41     False   True    False
48     False   True    False
63     False   True    False
...      ...    ...      ...
3539   False  False     True
3540   False  False     True
3541   False  False     True
3543   False  False     True
3545   False  False     True

[495 rows x 3 columns]

In [31]:
# read db to see availability (for used and legendary)
## read local db and search
## if car unavailable, return last available date

0