In [7]:
import urllib.request, json, os, sys, datetime
import pandas as pd
import ipywidgets as widgets

In [2]:
# Build the car -> ID table
cars = pd.read_csv("https://raw.githubusercontent.com/ddm999/gt7info/web-new/_data/db/cars.csv")
makers = pd.read_csv("https://raw.githubusercontent.com/ddm999/gt7info/web-new/_data/db/maker.csv")

cars = cars.rename({'ID': 'id', 'ShortName': 'Model'}, axis='columns')
cars['id'] = cars['id'].map(str)
cars['Maker'] = cars['Maker'].map(str)
cars.set_index('id', inplace=True)

makers = makers.rename({'ID': 'id', 'Name': 'Manufacturer', 'Country': 'Country Code'}, axis='columns')
makers['id'] = makers['id'].map(str)
makers['Country Code'] = makers['Country Code'].map(str)
makers.set_index('id', inplace=True)

tab = pd.merge(cars, makers, how='left', left_on='Maker', right_index=True)
tab = tab[['Manufacturer', 'Model']].sort_values(by=['Manufacturer', 'Model'])

In [ ]:
# Store the list of cars ID
# Separate these IDs into 3 tables (Central, Legend, Used)
# Get latest price, when it was last in shops, and estimate days
# Create a markdown?

In [24]:
# list of cars from the game
selected_list = [216,773,810,1565,1984,2167,3362]

# build a db of where cars belong
## get full car list
cars = pd.read_csv("https://raw.githubusercontent.com/ddm999/gt7info/web-new/_data/db/cars.csv")
## ./data/github_data/db/cars.csv
cars = cars.rename({'ID': 'id', 'ShortName': 'Model'}, axis='columns')
cars['id'] = cars['id'].astype(str)
cars = cars.drop(['Model','Maker'], axis = 1)
# cars['Maker'] = cars['Maker'].map(str)
cars.set_index('id', inplace=True)

central_db = pd.read_csv("https://raw.githubusercontent.com/ddm999/gt7info/web-new/_data/brandcentral/v112.csv")
central_db['id'] = central_db['id'].astype(str)
central_db.set_index('id', inplace=True)

legend_db = pd.read_csv("./data/legend_historic.csv")
legend_db['id'] = legend_db['id'].astype(str)
legend_db.set_index('id', inplace=True)
cols = legend_db.columns.tolist()
legend_db[cols[3:-3]] = legend_db[cols[3:-3]].astype('Int64')

used_db = pd.read_csv("./data/used_historic.csv")
used_db['id'] = used_db['id'].astype(str)
used_db.set_index('id', inplace=True)
cols = used_db.columns.tolist()
used_db[cols[3:-3]] = used_db[cols[3:-3]].astype('Int64')

## add 3 columns (for 3 shops) and flag which store they belong to
# cars['central'] = cars.index.isin(central_db.index)
cars['legend'] = cars.index.isin(legend_db.index)
cars['used'] = cars.index.isin(used_db.index)
cars['central'] = ~cars['legend'] & ~cars['used']

cars

# read db to see availability (for used and legendary)
## read local db and search
## if car unavailable, return last available date

      central  legend   used
id
24      False   False   True
31      False    True  False
41      False   False   True
48      False   False   True
63      False   False   True
...       ...     ...    ...
3539    False   False  False
3540    False   False  False
3541    False   False  False
3543    False   False  False
3545    False   False  False

[495 rows x 3 columns]

In [29]:
exists = cars['legend'] | cars['used'] | cars['central']
sum(exists == False)

41